/* ############ TAG main é aonde todo o conteudo principal deve ser centralizado ############### */

main{
    margin-top: 54px;
    width: 100%;
    
}

body{
    background-color: #696961;
}

h1{
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 75px;
}

h2{
    text-align: center;
    color: firebrick
}

p{
    text-align: center;
    color:firebrick
}

button{
    float: right;
    margin-right: 30px;
    
}

.conteudo{

    width: 45%;
    background-color:#a4a7c8a8;
    margin: 25px;
    min-height: 1px;
    padding: 20px;
    float: right;

}

.linha{
    content: '';
    width: 90px;
    height: 3px;
    display: block;
    background-color: rgb(95, 95, 240);
    margin-bottom: 20px;
}

.sobreCursoP{
    
    font-size: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    

}

.adm{
    background-image:url("../imagens/Cursos/adm.png");
    Width:100%;
    height:200px ;
}

.ads{
    background-image: url("../imagens/Cursos/ads2.jpg");
    width: 100%;
    height:200px ;
}

.bd{
    background-image: url("../imagens/Cursos/bd.png");
    width: 100%;
    height:200px ;
}

.jd{
    background-image: url("../imagens/Cursos/jd.jpg");
    width: 100%;
    height:200px ;
}

.si{
    background-image: url("../imagens/Cursos/si.jpg");
    width: 100%;
    height:200px ;
}

.corbranca{
    text-align: center;
    color: white;
}

.corver{
    text-align: center;
    color: red;
}